div {
  margin-bottom: 20px;
  text-align: center;
}

.home {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
  background-color: #202020;
  border: 1px solid transparent;
  min-width: 200px;
}

.home:hover {
  border: 1px solid #ffffff;
  box-shadow: 0 25px 50px -12px #673ab888;
}

